@import 'google-fonts';
@import 'variable-overrides';
@import 'bootstrap/scss/bootstrap';

main {
  font-family: 'Rubik';
  margin-bottom: 20px;
}

.options {
  margin-top: 10px;
  font-size: 20px;
}

.bookImage {
  max-height: 200px;
}

header {
  background-color: rgb(92, 42, 98);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: rgb(92, 42, 98);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerText {
  text-align: center;
  font-weight: 800;
}

.shopName {
  font-size: 30px;
  font-family: 'Rubik';
  font-weight: 800;
}

.book {
  background-color: rgb(233, 232, 232);
  text-align: center;
}

.bookImageModal {
  max-width: 100%;
}

.modalText {
  font-weight: 800;
}

.totalPrice {
  margin-left: 10px;
}

@media (max-width: 575px) {
  .options {
    text-align: left;
    margin-top: 10px;
    font-size: 15px;
    margin-left: 0px;
  }

  .cartButton {
    margin-right: 8px;
  }
}

// Special for Galaxy Fold
@media (max-width: 300px) {
  .options {
    text-align: left;
    margin-top: 10px;
    font-size: 12px;
    margin-left: 0px;
  }

  .cartButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}