@import 'google-fonts';
@import 'bootstrap/scss/bootstrap';

main {
  font-family: 'Rubik';
}

.options {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}

.bookList {}

.bookImage {
  max-height: 200px;
}

header {
  background-color: rgb(92, 42, 98);
  height: 150px;
}

.logo {
  margin-top: 25px;
  margin-left: 15px;
  max-height: 100px;
}

.shopName {
  font-size: 30px;
  font-family: 'Rubik';
  font-weight: 800;
  margin-top: -60px;
  text-align: center;
}

.book {
  background-color: rgb(233, 232, 232);
  text-align: center;
}

.bookImageModal {
  max-width: 100%;
}

.modalText {
  font-weight: 800;
}